@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin gradientBackground($img) {
    background-image: linear-gradient(
            to right bottom,
            rgba($color-primary--tint, 0.8),
            rgba($color-primary--shade, 0.8)
        ),
        url('../img/#{$img}.jpg');
    background-size: cover;
    background-position: center;
}

@mixin textBackgroundClip {
    background-image: linear-gradient(to right, $color-primary--tint, $color-primary);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERIES MANAGER
/*
    phone > 600px / 37.5 em
    tabPot > 900px / 56.25 em
    tabLand > 1200px / 75 em
    bigDesktop > 1800px / 112.5 em
*/

@mixin respond($screen) {
    @if ($screen == phone) {
        @media only screen and (max-width: 37.5em) {
            @content;
        }
    }

    @if ($screen == tabPot) {
        @media only screen and (max-width: 56.25em) {
            @content;
        }
    }

    @if ($screen == tabLand) {
        @media only screen and (max-width: 75em) {
            @content;
        }
    }

    @if ($screen == bigDesktop) {
        @media only screen and (min-width: 112.5em) {
            @content;
        }
    }
}
