.navigation {
    &__input {
        display: none;
    }

    &__btn {
        position: fixed;
        top: 6rem;
        right: 7rem;
        z-index: 5555;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        background-color: $color-white;
        cursor: pointer;
        box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);

        @include respond(phone) {
            top: 2rem;
            right: 3rem;
        }
    }

    &__background {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-image: radial-gradient($color-primary--tint, $color-primary);
        position: fixed;
        top: 7rem;
        right: 8rem;
        z-index: 3333;
        transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);

        @include respond(phone) {
            top: 3rem;
            right: 4rem;
        }
    }

    &__list-box {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4444;
        width: 100%;
        height: 100vh;
        visibility: hidden;
    }

    &__list {
        list-style: none;
        position: fixed;
        width: max-content;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.5s cubic-bezier(0.52, 0.56, 0.26, 1.56);
    }

    &__item {
        padding: 2rem 4rem;
        font-size: 3rem;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-image: linear-gradient(
            -135deg,
            $color-white 0%,
            $color-white 50%,
            transparent 50%
        );
        background-size: 250%;
        transition: all 0.5s;

        @include respond(tabPot) {
            font-size: 2.4rem;
        }

        &:hover {
            background-position: 92%;
            color: $color-primary;
            transform: translateX(3rem);
        }
    }

    &__link {
        color: $color-grey--tint-1;
        text-decoration: none;
        transition: all 0.5s;

        span {
            margin-right: 2rem;
        }
    }

    &__icon {
        position: relative;

        &,
        &::after,
        &::before {
            height: 2px;
            width: 4rem;
            background-color: $color-grey--shade-1;
            display: inline-block;
            @include absCenter;
        }

        &::after,
        &::before {
            content: '';
            opacity: 1;
        }

        &::after {
            top: -1.2rem;
            transition: all 0.2s;
        }

        &::before {
            transition: all 0.2s;
            top: 1.2rem;
        }
    }

    &__item:hover &__link {
        color: $color-primary;
    }

    &__btn:hover &__icon {
        &::after {
            top: -1.6rem;
        }

        &::before {
            top: 1.6rem;
        }
    }

    &__input:checked ~ &__background {
        transform: scale(80);
    }

    &__input:checked ~ &__list-box {
        visibility: visible;
    }

    &__input:checked ~ &__list-box &__list {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__input:checked + &__btn &__icon {
        background-color: transparent;

        &::after {
            transform: translate(-50%, -50%) rotate(-135deg);
        }

        &::before {
            transform: translate(-50%, -50%) rotate(135deg);
        }

        &::after,
        &::before {
            left: 50%;
            top: 50%;
        }
    }
}
