.popup {
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;

    &__content {
        @include absCenter;
        width: 70%;
        background-color: $color-white;
        border-radius: 5px;
        display: table;
        overflow: hidden;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.4);
        transform: translate(-50%, -50%) scale(0);
        transition: all 0.7s cubic-bezier(0.83, 0, 0.17, 1) 0.2s;
    }

    &__close {
        position: absolute;
        top: 3rem;
        right: 2.5rem;
        color: $color-grey--shade-1;
        font-size: 3.5rem;
        text-decoration: none;
        transition: all 0.2s;
        line-height: 0;

        &:hover {
            color: $color-primary;
        }
    }

    &__left {
        width: 33.3333%;
        display: table-cell;
        line-height: 0;
        font-size: 0;
        overflow: hidden;

        @include respond(tabLand) {
            display: block;
            width: 100%;
        }
    }

    &__img {
        width: 100%;
        line-height: 0;
        @include respond(tabLand) {
            width: 50%;
            display: inline-block;
        }

        &:first-child {
            @include respond(tabLand) {
                transform: scale(1.06);
            }
        }
    }

    &__right {
        width: 66.6666%;
        display: table-cell;
        padding: 4rem;
        vertical-align: middle;
        @include respond(tabLand) {
            padding: 2rem;
            display: block;
            width: 100%;
            text-align: center;
        }

        & .heading-secondary {
            @include respond(tabPot) {
                font-size: 2.8rem;
            }

            @include respond(phone) {
                font-size: 2.4rem;
            }
        }

        & .heading-tertiary {
            @include respond(phone) {
                font-size: 1.3rem;
            }
        }

        & .btn {
            @include respond(phone) {
                font-size: 1.2rem;
                padding: 1rem 2rem;
            }
        }
    }

    &__text {
        font-size: 1.3rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey--tint-2;
        hyphens: auto;
    }

    &:target {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    &:target &__content {
        transform: translate(-50%, -50%) scale(1);
    }
}
