.story {
    background-color: rgba($color-white, 0.6);
    padding: 6rem;
    padding-left: 9rem;
    transform: skewX(-17deg);
    border-radius: 5px;
    box-shadow: 0 1.5rem 3rem rgba($color-black, 0.1);
    width: 75%;
    margin: 0 auto;

    @include respond(tabPot) {
        width: 100%;
    }

    @include respond(phone) {
        transform: skewX(0);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(17deg);
        position: relative;
        overflow: hidden;
        backface-visibility: hidden;

        @include respond(tabPot) {
            width: 12rem;
            height: 12rem;
        }

        @include respond(phone) {
            transform: translateX(-3rem) skewX(0);
        }
    }

    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.3);
        transition: all 0.3s ease-in;
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -3%);
        text-transform: uppercase;
        text-align: center;
        font-size: 2rem;
        font-weight: 300;
        color: $color-white;
        opacity: 0;
        transition: all 0.3s ease-in;
    }

    &__text-box {
        transform: skewX(17deg);

        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &__text {
        @include respond(tabPot) {
            font-size: 1.4rem;
        }
    }

    &:hover &__caption {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(0.8);
    }
}
