*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @include respond(tabLand) {
        font-size: 56.25%;
    }

    @include respond(tabPot) {
        font-size: 50%;
    }

    @include respond(phone) {
        font-size: 45%;
    }

    @include respond(bigDesktop) {
        font-size: 75%;
    }
}

body {
    box-sizing: inherit;

    padding: 3.8rem;

    @include respond(phone) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
}
