.section-about {
    background-color: $color-grey--tint-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tabPot) {
        padding: 25rem 0;
    }
}

.section-features {
    @include gradientBackground('nat-4');
    padding: 20rem 0;
    transform: skewY(-6deg);
    margin-top: -10rem;

    & > * {
        transform: skewY(6deg);
    }

    @include respond(tabPot) {
        padding: 12rem 0;
    }
}

.section-tours {
    background-color: $color-grey--tint-1;
    padding: 18rem 0 15rem;
    margin-top: -10rem;

    @include respond(tabPot) {
        padding: 18rem 0 9rem;
    }
}

.section-story {
    padding: 15rem 0;
    position: relative;

    @include respond(tabPot) {
        padding: 10rem 0;
    }
}

.section-booking {
    background-image: linear-gradient(
        to right bottom,
        $color-primary--tint,
        $color-primary
    );
    padding: 15rem 0;

    @include respond(tabPot) {
        padding: 10rem 0;
    }
}
